/* https://fonts.google.com/Raleway */
@font-face {
 font-family: 'Raleway';
  src: local('Raleway Thin'), local('Raleway-Thin'), url(font/raleway-100-thin.woff2);
  font-style: normal; font-weight: 100; font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(font/raleway-200-extralight.woff2);
  font-style: normal; font-weight: 200; font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Light'), local('Raleway-Light'), url(font/raleway-300-light.woff2);
  font-style: normal; font-weight: 300; font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(font/raleway-400-normal.woff2);
  font-style: normal; font-weight: 400; font-display: swap;
}
/* https://fonts.google.com/specimen/Roboto */
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url(font/roboto-light.woff2);
  font-style: normal; font-weight: 300; font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(font/roboto-lightitalic.woff2);
  font-style: italic; font-weight: 300; font-display: swap;
}
/* CSS reset */
html { box-sizing: border-box }
*, :before, :after { box-sizing: inherit; padding: 0; margin: 0; text-indent: 0 }
/** Page style **/
html {
    background: #000;
    &.DEBUG {
        background:
            repeating-linear-gradient(#808e 0 1px, #0000 1px 32px) 0 24px,
            #000;
    }
    color: #888;
    font-family: 'Roboto';
    font-size: 22px;              /* size */
    font-weight: 300;
    line-height: 32px;            /* line-height */
}
body { padding: 0 16px }          /* 0.5 line-height */
main {
    margin: 0 auto;
    max-width: 896px;             /* 30 line-height (30-35em is ideal; ~60char) */
    text-align: justify;
}
h1, h2 {
    text-align: left;
    width: fit-content;
}
.white, dt, h2 { color: #fff }
.bright, a, b, h1 { color: #3BD }
.muted, a:active, a:visited, footer { color: #09C }
.hyphenate { hyphens: auto }
h1 {
    font-size: 70px;
    font-family: 'Raleway'; position: relative; top: 16px;
    font-weight: 100;
    line-height: 96px; /* 32 x 3 */
    margin-bottom: 32px; /* 32 */
}
h2 {
    font-size: 36px;
    font-family: 'Raleway'; position: relative; top: 12px;
    font-weight: 200;
    line-height: 64px; /* 32 x 2 */
}
p + p { text-indent: 32px }       /* 32 */
dt {
    font-family: 'Raleway'; position: relative; top: 1px;
    text-align: left;
}
dd {
    margin: 0 32px;
    text-align: left;
}
time {
    float: right;
    padding-left: 32px;           /* line-height */
}
b { font-weight: inherit }
a { text-decoration: none }
a:hover { text-decoration: underline }
figure.me {
    float: right;
    margin: 64px 0 32px 32px;
    max-width: 100%;
    & img {
        position: relative; top: -7px;
        /* Image height is set to 352 (11 × line-height) in the HTML. */
        max-width: 100%;
        display: block;
        height: auto; /* keep image aspect when scaling down */
    }
    & figcaption {
        margin-top: 32px;
        font-family: 'Raleway'; position: relative; top: 1px;
        text-align: right;
        & p { margin-top: 16px }  /* 0.5 line-height */
    }
}
footer {
    margin: 32px;                 /* 32 */
    text-align: center;
}
/** Print style **/
@media print {
    @page { margin: 25mm 25mm 25mm 25mm }
    * { background: #0000 !important; color: #000 !important }
    html {
        /* background: url(baseline-print.png) !important; */
        font-size: 11pt;          /* font-size */
        line-height: 16pt;        /* line-height */
        &.DEBUG {
            background:
                repeating-linear-gradient(#888 0 1pt, #0000 1pt 16pt) 0 4pt
                !important;
        }
    }
    main { max-width: none }
    h1, h2, dt {
        break-after: avoid;
        page-break-inside: avoid;
        page-break-after: avoid;
    }
    dd {
        page-break-before: avoid;
        text-align: justify;
    }
    h1 {
        font-size: 24pt;
        font-weight: 200;         /* +100 boldness */
        line-height: 48pt;        /* 3 line-height */
        top: 20.5pt;
    }
    h2 {
        top: 7pt;
        font-size: 16pt;
        font-weight: 300;         /* +100 boldness */
        line-height: 32pt;        /* 2 line-height */
    }
    p + p { text-indent: 16pt }   /* line-height */
    dt { font-weight: 400 }       /* +100 boldness */
    dd { margin: 0 16pt }         /* 0 / line-height */
    time { padding-left: 24pt }   /* line-height */
    figure.me {
        font-weight: 400;
        margin: 48pt 0 24pt 24pt; /*  2×line-height / 0 / line-height / line-height */
        & img {
            width: calc(32px * 8 * (4 / 5)); /* image HEIGHT: 8 × line-height */
        }
        & figcaption {
            position: relative;
            top: -8pt;
        }
        & figcaption div {
            margin: 8pt 0;        /* 0.5 line-height */
        }
    }
}
/*EOF*/
