/* https://fonts.google.com/Raleway */
html { --raleway-ascent:  0.94; --raleway-descent: 0.234 }
@font-face {
 font-family: 'Raleway';
  src: local('Raleway Thin'), local('Raleway-Thin'), url(font/raleway-100-thin.woff2);
  font-style: normal; font-weight: 100; font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(font/raleway-200-extralight.woff2);
  font-style: normal; font-weight: 200; font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway Light'), local('Raleway-Light'), url(font/raleway-300-light.woff2);
  font-style: normal; font-weight: 300; font-display: swap;
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(font/raleway-400-normal.woff2);
  font-style: normal; font-weight: 400; font-display: swap;
}
/* https://fonts.google.com/specimen/Roboto */
html { --roboto-ascent:  0.927734375; --roboto-descent: 0.244140625 }
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url(font/roboto-light.woff2);
  font-style: normal; font-weight: 300; font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(font/roboto-lightitalic.woff2);
  font-style: italic; font-weight: 300; font-display: swap;
}
/* CSS reset */
html { box-sizing: border-box }
*, :before, :after { box-sizing: inherit; padding: 0; margin: 0; text-indent: 0 }
/** Page style **/
html {
    background-color: #000;
    --root-font-size: 22px;
    --root-line-height: 32px;
    --ascent:  var(--roboto-ascent);
    --descent: var(--roboto-descent);
    --root-ascent:  var(--roboto-ascent);
    --root-descent: var(--roboto-descent);
    &.DEBUG main {
        --baseline: calc((1lh + (var(--ascent) - var(--descent)) * 1em) / 2);
        background:
            linear-gradient(#808e 0 1px, #0000 1px 1lh) 0 var(--baseline) / 100% 1lh,
            linear-gradient(90deg, #8087 0 1px, #0000 1px 1lh) 0 var(--baseline) / 1lh 100%,
            #000;
        outline: 1px solid #808e; outline-offset: -1px;
    }
    color: #888;
    font: 300 var(--root-font-size)/var(--root-line-height) 'Roboto';
}
body {
    padding: 0 calc(1rlh / 2);
    margin: 0 auto;
    max-width: calc(28 * 1rlh);
    text-align: justify;
}
h1, h2 {
    text-align: left;
    width: fit-content;
}
.white, dt, h2 { color: #fff }
.bright, a, b, h1 { color: #3BD }
.muted, a:active, a:visited, footer { color: #09C }
.hyphenate { hyphens: auto }
h1 {
    --this-ascent:  var(--raleway-ascent);
    --this-descent: var(--raleway-descent);
    /* FIXME: Too convoluted? */
    position: relative; top: calc((5rlh
               + (var(--root-ascent) - var(--root-descent)) * 1rem
               - 1lh
               - (var(--this-ascent) - var(--this-descent)) * 1em) / 2);
    font: 100 70px/calc(3 * 1rlh) 'Raleway';
    font: 100 calc(3.2 * 1rem)/calc(3 * 1rlh) 'Raleway';
    margin: 1rlh 0;
}
h2 {
    --this-ascent:  var(--raleway-ascent);
    --this-descent: var(--raleway-descent);
    /* FIXME: Too convoluted? */
    position: relative; top: calc((3rlh
               + (var(--root-ascent) - var(--root-descent)) * 1rem
               - 1lh
               - (var(--this-ascent) - var(--this-descent)) * 1em) / 2);
    font: 200 36px/calc(2 * 1rlh) 'Raleway';
    font: 200 calc(1.64 * 1rem)/calc(2 * 1rlh) 'Raleway';
    margin: 1rlh 0;
}
p + p { text-indent: 1rlh }
ul { padding-left: 1rlh }
dt {
    --this-ascent:  var(--raleway-ascent);
    --this-descent: var(--raleway-descent);
    /* FIXME: Too convoluted? */
    position: relative; top: calc((1rlh
               + (var(--root-ascent) - var(--root-descent)) * 1rem
               - 1lh
               - (var(--this-ascent) - var(--this-descent)) * 1em) / 2);
    font-family: 'Raleway';
    text-align: left;
}
dd {
    margin: 0 1rlh;
    text-align: left;
}
dt { margin-top: 1rlh; }
time {
    float: right;
    padding-left: 1rlh;
}
b { font-weight: inherit }
a { text-decoration: none }
li::marker { line-height: inherit; font: inherit }
a:hover { text-decoration: underline }
figure.me {
    float: right;
    margin: 1rlh 0 1rlh calc(1.5 * 1rlh);
    max-width: 100%;
    & img {
        --image-height: 14rlh;
        position: relative; top: calc(
            (1rem * (var(--root-ascent) - var(--root-descent)) - 1rlh) / 2
        );
        /* Image height is set to 352 (11 × line-height) in the HTML. */
        max-width: 100%;
        display: block;
        height: auto; /* keep image aspect when scaling down */
        width: calc(var(--image-height) * (4 / 5)); /* image height * aspect */
        margin-left: auto;
    }
    & figcaption {
        --this-ascent:  var(--raleway-ascent);
        --this-descent: var(--raleway-descent);
        /* FIXME: Too convoluted? */
        position: relative; top: calc((1rlh
                   + (var(--root-ascent) - var(--root-descent)) * 1rem
                   - 1lh
                   - (var(--this-ascent) - var(--this-descent)) * 1em) / 2);
        font-family: 'Raleway';
        text-align: right;
    }
}
footer {
    margin: 1rlh;
    text-align: center;
}
/** Print style **/
@media print {
    @page { margin: 25mm 25mm 25mm 25mm }
    * { background: #0000 !important; color: #000 !important }
    html {
        --root-font-size: 11pt;
        --root-line-height: 16pt;
        &.DEBUG {
            /* background-attachment: fixed; */
            --baseline: calc((1lh + (var(--ascent) - var(--descent)) * 1em) / 2);
            background:
                linear-gradient(#4088 0 1px, #0000 1px 1lh) 0 var(--baseline) / 100% 1lh
                !important;
            border: 1px solid #4088; box-decoration-break: clone;
        }
    }
    main { max-width: none }
    h1, h2, dt {
        break-after: avoid;
        page-break-inside: avoid;
        page-break-after: avoid;
    }
    dd {
        page-break-before: avoid;
        text-align: justify;
    }
    h1 { font-weight: 200 }  /* +100 boldness */
    h2 { font-weight: 300 }  /* +100 boldness */
    dt { font-weight: 400 }  /* +100 boldness */
    figure.me {
        font-weight: 400;
        & img { --image-height: 12rlh }
    }
    footer { display: none }
}
/*EOF*/
